* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.btn-primary {
  border-radius: 41px;
  background: #e02c6d;
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  padding: 10px 24px;
  align-items: flex-start;
  cursor: pointer;
}

/* navbar start */
nav {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
nav h2 {
  font-weight: 700;
  color: #3a3a3a;
  font-size: 1.5rem;
}

nav ul {
  display: flex;
  gap: 20px;
}
nav li a {
  font-size: 16px;
  font-weight: 600;
  color: #3a3a3a;
}
.font-awesome-icon {
  font-size: 1rem;
  margin-right: 20px;
}
.font-awesome-icon i {
  margin-right: 20px;
  font-size: 1rem;
}
/* navbar end */

/* banenr section start */
.banner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 100vh;
}
.banner-image {
  background-image: url("/images/Circle\ design.svg");
}
.banner-content h2 {
  color: #3a3a3a;
  font-size: 3.25rem;
  font-weight: 700;
  margin-left: 120px;
}
.banner-content p {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  margin-left: 120px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.banner-content button {
  margin-left: 120px;
}
/* banenr section end */

/* brand section start */
.brand-image {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin: 50px 200px;
}
/* brand section end */

/* Popular Collection section start */
.popular-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  max-width: 1100px;
  margin-bottom: 100px;

}
.popular-heading {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  line-height: 70px;
  color: #3a3a3a;
  margin: 50px 0;
}
.popular-box {
  width: 329px;
  height: 476px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
}
.popular-box img {
  border-radius: 5px;
  width: 300px;
  height: 256px;
}
.popular-box h4 {
  color: #18191f;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}
.popular-box strong {
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
}
.popular-box p i {
  color: #fb8200;
  width: 11.068px;
  height: 10.316px;
  flex-shrink: 0;
  margin-right: 5px;
}
.popular-box-margin {
  margin-bottom: 50px;
}

/* Popular Collection section end */

/* feature section start */
.feature-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 50px;
}
.feature-content h2 {
  color: #0a0826;
  font-size: 38px;
  font-weight: 700;
  line-height: 60px;
}
.feature-content p {
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 10px;
}
/* feature section en */

@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-content {
    margin-top: 100px;
    margin-right: 100px;
  }
  .banner-image {
    margin-top: 600px;
  }
  .banner-image img {
    width: 80%;
  }
  .brand-image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 550px;
  }
  .popular-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 577px) and (max-width: 960px) {
  nav {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
